<%= form_for message, :url => messages_path(message), :html => { :class => :form } do |f| -%>

  <% if message.errors.any? %>
    abc
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <div class="input">
      <%= f.text_area :content, :class => 'text_area span6', :rows => 5 %>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
  
<% end -%>