<h1>What's happening ?</h1>
<br/>

<%= render :partial => "form", :locals => {:message => @message} %>

<% @messages.each do |message| -%>
  <%= render :partial => "message", :locals => {:message => message} %>
<% end -%>