<h1>What's happening ?</h1>
<br/>
<%= form_for @message, :url => messages_path, :html => { :class => :form } do |f| -%>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end -%>

<% @messages.each do |message| -%>
  <%= render :partial => "message", :locals => {:message => message} %>
<% end -%>
